AddHandler application/x-httpd-php56 .html
AddHandler php-script .php .html
AddHandler php5-script .php .html .htm


<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^index\.html$ / [R=301,L]
	RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]
</IfModule>

ErrorDocument 404 http://zembrella.com
ErrorDocument 403 httpL://zembrella.com
