

a{
	text-decoration:none;
	
}

html, body { 
	margin:0; 
	padding:0; 
	border:0; 
	width:100%; 
	height: 100%;
}
body{
	background: white;
	
}
img{
	width: 240px;
	margin-left: 20%;
	height: auto;
}
div#navbar{
	font-family: 'Rubik', sans-serif;
	border-top: .5pt solid black;
	color: black;
	background-color: #1C86EE;
	font-weight: bold;
	font-size: 20pt;
}
ul {
	text-align: center;
	list-style-type: none;
	margin:0;
	padding-left: 0;
	
}
li{
	display: inline-block;
	background-color: limegreen;
	width: 150px;
	
}
li:hover{
	background-color: floralwhite;
	cursor: pointer;
}
div#catalogwrap {
	height: 800px;
	width: 60%;
	margin: auto;
	background-color: floralwhite;
}